* {
    padding: 0;
    margin: 0;
}
html{
    // BasisSchriftGröße == 16
    font-size: 62.5%;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h2 {
    font-size: $font-size-h2;
    margin-bottom: $space;
}

p {
    margin-bottom: $space;
}

a {
    color: black;
}

input[type=text], input[type=email], input[type=password], input[type=number], 
select[name=patienten], select[name=praxis], input[type=date], input[type=datetime-local] {
    border: 1px solid $input-border;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}
button[type=submit] {
    margin-bottom: $space;
}
.select-box {
    margin-bottom: $space;
}

label {
    font-size: $base-font-size / 1.2;
    text-align: left;
    margin-bottom: $space / 3;
}
textarea {
    border: 1px solid $input-border;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }