* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    // BasisSchriftGröße == 16
    font-size: 55%;
    @include desktop{
        font-size: 62.5%;
    }
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    background-color: darken($light-grey, 4);
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h2 {
    font-size: $font-size-h2;
    margin-bottom: $space;
}

p {
    margin-bottom: $space;
}

a {
    color: black;
}

input[type=text], input[type=email], input[type=password], input[type=number], 
select[name=patienten], input[type=tel], select[name=praxis], input[type=date], input[type=datetime-local] {
    // border: 1px solid $input-border;
    border: none;
    border-bottom: 1px solid $serenty;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}
button[type=submit] {
    margin-bottom: $space;
}
input[type=text].praxis-title{
    text-align: center;
    font-size: $base-font-size*2;
    border-bottom: 1.5px solid $serenty;
    // margin-bottom: $space;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, 
input[type=tel]:focus, select[name=praxis].focus, input[type=date]:focus, input[type=datetime-local]:focus{
    border-bottom: solid $serenty;
    outline:none;
    box-shadow: 5px;
}
input[type=text]:disabled, input[type=email]:disabled, input[type=password]:disabled, input[type=number]:disabled, 
input[type=tel]:disabled, select[name=praxis], input[type=date]:disabled, input[type=datetime-local]:disabled {
    background-color: $light-grey;
}
.select-box {
    margin-bottom: $space;
}

label {
    color: $dark-grey;
    font-size: $base-font-size;
    font-weight: 600;
    text-align: end;
    // margin-bottom: $space / 3;
}
textarea {
    border: 1px solid $input-border;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }