// Hier befinden Konfigurationsvariablen

// Colors
$serenty: #92A8D1;

// Spacing
$space: 1.4rem;


// Fontsizes
$base-font-size: 1.6rem;

// Form-Inputs
$input-border: $serenty;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $serenty;
$boxed-view-bg: white;

// Font-color Title: Galaxy Blue
// HEX: #2A4B7C

//Button
$button-bg: $serenty;
$button-color: white;
