// Hier befinden sich Konfigurationsvariablen

// Colors
$serenty: #92A8D1;
$light-grey: #f9f9f9;
$dark-grey: #777777;
$mint-green: #1BBC9B;
$dark-green: #16A086;
$custom-red: #CE5B78;
$my-yellow: #FFD662;

// Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;
$dashboard-max-width: 80rem;

// Fontsizes
$base-font-size: 1.6rem;
$font-size-h2: 1.8rem;


// Form-Inputs
$input-border: $serenty;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $serenty;
$boxed-view-bg: white;

// Font-color Title: Galaxy Blue
// HEX: #2A4B7C

//Button
$button-bg: $serenty;
$button-color: white;
$button-cancel-bg: $light-grey;
$add-termin-button-height: 6rem;

//Header
$header-bg: $serenty;
$header-color: white;
$header-height: 6rem;

// Termin-Items
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// Dashboard-Box
$dashboard-box-bg: $serenty;
$dashboard-box-border: darken($serenty, 8%);
$dashboard-box-text-color: white;

//Page Content
$page-editor-sidebar-width: 30rem;
$page-editor-main-width: calc(#{$site-max-width} - #{$page-editor-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});

//Praxis Items
$praxis-item-border: 4px;