.boxed-view {
    align-items: center;
    background-color: $boxed-view-overlay-bg;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.boxed-view--modal{
    background: fade-out($boxed-view-overlay-bg, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.boxed-view__box {
    background-color: $boxed-view-bg;
    margin-top: $header-height;
    margin-bottom: $header-height;
    padding: 2.4rem;
    text-align: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow-y: auto;
    @include desktop{
        height: calc(100vh - #{$header-height});
        width: 40%;
    }
}
.box-view__shadow {
    box-shadow: 5px 10px 18px #888888;
}
.boxed-view__form {
    display: flex;
    flex-direction: column;
    margin-bottom: $header-height;
    z-index: 1;
}
.pacman-view {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.spinner-box{
    margin: 0 auto;
}
@media(min-width: 770px) {
    .boxed-view__dashboard {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -webkit-flex-flow: wrap row;
        flex-flow: wrap row;

        align-items: center;
        justify-content: space-between;
    }

    .boxed-view__dashboardbox {
        background-color: $dashboard-box-bg;
        padding: $space + 1rem;
        text-align: center;
        margin-bottom: $space;
        width: $space * 14;
        height: $space * 14;
        color: $dashboard-box-text-color;
        border: $dashboard-box-border;
       
    }

    .boxed-view__dashboardbox--patient {
        background-color: $mint-green;
        padding: $space + 1rem;
        text-align: center;
        margin: 15% 0 15% 0;
        // width: $space * 14;
        min-width: $space * 14;
        height: $space * 14;
        color: $dashboard-box-text-color;
        border: $dashboard-box-border;
    }
}


@media(max-width: 769px) {
    .boxed-view__dashboard {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        
    }

    .boxed-view__dashboardbox {
        background-color: $dashboard-box-bg;
        padding: $space + 1rem;
        text-align: center;
        margin: 5% 0 0 0;
        height: $space * 7;
        color: $dashboard-box-text-color;
        border: $dashboard-box-border;
    }

    .boxed-view__dashboardbox--patient {
        background-color: $mint-green;
        padding: $space + 1rem;
        text-align: center;
        margin: 5% 0 0 0;
        height: $space * 7;
        color: $dashboard-box-text-color;
        border: $dashboard-box-border;
    }
}
.add-termin--container {
    display: block;
    padding: 10px;
    // text-align: center;
}

.add-praxis--container {
    display: flex;
    flex-direction: column;
    padding: $space;
}
.info-text {
    margin-top: $space*2;
    font-style: italic;
}

.boxed-view__dashboardbox:nth-child(odd) {
    background-color: #2A4B7C;
}

.boxed-view__dashboardbox:hover {
    box-shadow: 10px 10px grey;
}

.boxed-view__dashboardbox--patient:nth-child(odd) {
    background-color: $dark-green;
}

.boxed-view__dashboardbox--patient:hover {
    box-shadow: 10px 10px grey;
}

.fc-toolbar .fc-header-toolbar{
    display: flex !important;
    flex-direction: column !important;
}