.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    // margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}
.button--link {
    display: inline-block;
    text-decoration: none;
}

.resent-button {
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    color: $dark-grey;
    text-decoration: underline;
    text-transform: none;
}
.resent-button:hover {
    color: darken($dark-grey, 20%);
    text-decoration-style: double;
}
.button--link:hover {
    background: darken($serenty, 10%);
}

.button--pill {
    background-color: transparent;
    border: 1px solid $serenty;
    color: $serenty;
    margin: 0 ($space / 2) 0 0;
    padding: .3rem .8rem;
}

.button--cancel {
    
    color:  $serenty;
    border: 1px solid $serenty;
    background-color: $button-cancel-bg;
}

.button--link-text {
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: none;
}

.button--logout {
    border: 1px solid $button-color;
    padding: 10px;
    margin: 0px;
}
.button--add {
    background-color: #CE5B78;
}
.button--add:hover {
    background-color: darken(#CE5B78, 10%);
}
.menu{
    display: none;
    background-color: transparent;
    border: 1px solid $serenty;
    color: $serenty;
    margin: $space;
    padding: .3rem .8rem;
    text-transform: none;
}
.menu:hover {
    background-color: $button-bg;
    color: $button-color;
}

.button--dashboard {
    background-color: white;
    color: $serenty;
    margin: 0px 5px 0px 0px;
} 

.button--dashboard:hover {
    background-color: darken(white, 10%);
    text-decoration: underline;
}

.button--patient {
    color: $mint-green;
}