.editor-container {
    display: flex;
}
.editor {
    background-color: white;
    border: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    padding: $large-space;
    width: 100%;
}
.praxisliste{
    border: 1px solid $light-grey;
    width: 100%;
    
}

.praxis-editor__input {
    display: flex;
    flex-direction: column;
}

.editor--message {
    text-align: center;
    margin: $large-space;
    font-style: italic;
}
.adress-container{
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
    justify-content: space-between;
}
.praxis--hausnummer{
    width: 20%;
}
.praxis--strasse{
    width: 70%
}
.praxis--plz{
    width: 30%;
    @include desktop{
        width: 20%;
    }
    
}

.praxis--stadt{
    width: 65%;
    @include desktop{
        width: 70%;
    }
}
.praxis--telefon{
    width: 100%;
    @include desktop{
        width: 70%;
    }
}
.praxis--email{
    width: 100%;
    @include desktop{
        width: 70%;
    }
}
.praxis--label{
    width: 100%;
    @include desktop{
        padding-top: $space;
        width: 20%;
    }
}
.praxis--subheading{
    display: flex;
    flex-direction: column;
    margin: $space 0;
}

.praxis-editor--select{
    border: 1px solig red;
}
.praxis-opening-time--container{
    display: flex;
    flex-direction: column;
    border: 1px solid $serenty;
    margin-bottom: $space;
}
.opening-label{
    text-align: left;
}
.praxis-opening-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.praxis-opening-box--header {
    background-color: $light-grey;
    justify-content: space-between;
    padding: $space/3;
}
.opening-day{
    margin-top: $space/1.1;
    
    @include desktop {
        margin-left: $space/2;
    }
}
.time-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $space/1.3;
}
.desktop-opening-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    @include desktop{
        flex-direction: row;
    }
}

.time-box .time-box--editor{
    @include desktop{
        width: 30vw;
    }  
}