.header {
    background: $header-bg;
    color: $header-color;
}

.header__content {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $space;
}

.header__title {
    margin: 0;
    @media(max-width: 430px){
        font-size: $font-size-h2;
    }
}

.patient-header{
    background: $mint-green;
    color: $header-color;
}

.header__nav-toggle {
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    @include desktop{
        display: none;
    }
}

.header-container-right{
    display: none;
    @include desktop{
        display: block;
    }
}