.item {
    background: $item-bg;
    border:1px solid $item-border;
    margin-bottom: $space;
    padding: $space;
}

.item__message {
    color: $item-text-color;
}

.item__status-message {
    color: $item-text-color;
    font-style: italic;
    text-align: center;
    margin: 0;
    
}

.item-title {
    text-align: center;
}

.empty-item {
    font-style: italic;
    padding: $space;
    text-align: center;
}

.praxis-item {
    border-left: $praxis-item-border solid transparent;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
}

.praxis-item:hover {
    background-color: $light-grey;
    border-left: $praxis-item-border solid grey;
}
.praxis-item--selected, .praxis-item--selected:hover {
    background-color: $light-grey;
    border-left: $praxis-item-border solid $serenty;
}