.kalender-container {
    min-height: 100vh;
    max-width: 100vw;
}
.grid-row {
    margin-top: $space;
}
.kalender-view {
    display: flex;
    flex-flow: row;
    margin-top: $space * 3;
}
.termin-container {
    
    max-width: 20%;
}
.custom {
    max-width: 80%;

}