.kalender-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    // grid-auto-rows: ;
    height: -o-calc(100vh - 125px); /* opera */
    height: -webkit-calc(100vh - 125px); /* google, safari */
    height: -moz-calc(100vh - 125px); /* firefox */
}
@media(min-width:451px){
    #mobile-calendar {
        display: none;
    }
}

@media(max-width:450px){
    #wide-calendar{
        display: none;
    }
}
