.page-content {
    margin: 0 auto;
    height: $page-content-height;
    max-width: $site-max-width;
    padding: $large-space $space;
}
.page-content__sidebar{
    display: flex;
    overflow-y: scroll;
    width: $page-editor-sidebar-width;
    // padding-right: $large-space;
}
.page-content__main{
    background-color: white;
    display: flex;
    overflow-y: scroll;
    width: $page-editor-main-width;
}
// Styling für Admindashboard & Patientendashboard

.dashboard-content {
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $space;
    
}
.page-editor-container {
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $space;
}

.page-content-praxisverwaltung {
    // background-color: darken($light-grey, 4);
    
}