.boxed-view__dashboard--admin{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, (($space * 14)*($space * 14)), 3fr); /*don't care how many columns. Just figure it out for me. show how you can change sizing of page*/
    grid-template-columns: repeat(auto-fill, minmax((($space * 14)*($space * 14)), 1fr));
    justify-items: center;
    align-items: center;

}